[2013-10-17 06:59] fho opened #1 "Add CHANGELOG file"
Add a CHANGELOG file that contains the release notes from the README In git commits < c51dc50 and notes for the current release.

The CHANGELOG file should also be included in the debian package (/usr/share/doc/$package/changelog.gz)

[2013-10-17 09:57] fho opened #2 "Add contributation guideline file"
Add a file that contains rules for contributing to rtrlib.
* Coding Style (kernel code style)
* commit message
* How to send a patch (github pull request, git format-patch)

[2013-10-17 18:19] fho opened #3 "Use a sane coding style: kernel coding style"
Convert all sources files to use kernel coding style.
https://www.kernel.org/doc/Documentation/CodingStyle

[2013-10-17 18:29] fho opened #4 "Improve configuration struct API"
- make the defintions of the structs private, this allows to change the internal representation without changing the API
- Copy paramters that are passed to the init(..) functions. The user won't have to care anymore if the passed memory areas are valid while library functions are running
- use errno codes instead of defining our one ones

[2014-04-22 14:34] mehlis opened #6 "uninitialized use of rtval"
have a look at:
https://github.com/rtrlib/rtrlib/blob/master/rtrlib/rtr/packets.c#L578

`int rtval` might not be initialized.

Use `RTR_ERROR` as the default value?

Found with `cppcheck` (the only finding)

[2014-05-25 09:42] fho opened #9 "Handle multiple RTR connections in same thread"
Instead of creating a separate thread for every rtr connection it's more efficient to switch to an async event-based approach to handle multiple connections from the same thread.
This could be done with the help of libevent

[2014-05-25 09:43] #6 closed, assigned to nobody

[2014-07-31 15:41] waehlisch opened #12 "Clean up files SPKI"
clean up directory and file structure of  spki / hashtable / tommyds-1.8

[2014-07-31 15:44] waehlisch opened #13 "Document test cases"
Add brief documentation to test cases in test_ht_spkitable.c

[2014-07-31 15:46] waehlisch opened #14 "Extend API to allow for SKI search"

[2014-08-13 12:33] #14 closed, assigned to nobody

[2014-08-13 12:34] #12 closed, assigned to nobody

[2014-08-13 12:35] #13 closed, assigned to nobody

[2014-08-15 10:59] waehlisch opened #15 "Wireshark dissector"
Extend existing Wireshark dissector to analyze RFC6810-bix packets.

[2014-08-25 16:08] waehlisch opened #16 "Unexpected termination of TCP connection"
Does the client terminates a cache server connection purposely when Cache Resets were sent too often? If not, there is a bug. Details see rtrlib/bird-rtrlib-cli#2

[2014-08-31 16:19] fho opened #17 "Fix compiler and doxygen warnings"
Fix new doxygen and compiler warnings in rfc6810-bis branch:

[code]

[2014-09-03 13:20] #15 closed, assigned to nobody

[2014-10-18 17:32] mceyran opened #19 "Configuration of source IP address"
As RTRlib itself does not support the specification of the source IP address of an RTR connection, this issue blocks rtrlib/bird-rtrlib-cli#4

[2014-10-22 19:40] #19 closed, assigned to nobody

[2014-11-12 13:19] #17 closed, assigned to nobody

[2014-11-30 10:44] fho opened #21 "Change order of tools/rtrclient arguments"
Change the order of argument that tools/rtrclient accepts to:
./rtrclient tcp [options] <host> <port>

Having the optional options after required main arguments is non standard.

[2014-12-07 11:41] fho opened #22 "Handling of error text in error pdus broken"
The code in rtr/packets.c that is logging the text of an error pdu looks really weird.
The len_err_txt is not the length of the text, instead it's the address of the rest buffer + the length of the encoded PDU and this value is than converted to host byte order.

[code]

Investigate and fix it.

[2014-12-07 11:45] fho opened #23 "Refactor rtr_sync() function"
The function is really long and obfuscated, really hard to understand it.

Refactor it!

[2014-12-07 11:51] fho opened #24 "/home/fho/git/rtrlib/rtrlib/rtr/packets.c:646:17: warning: attempt to free a non-heap object ‘router_key_pdus’ [-Wfree-nonheap-object]"
Hi @nbars,

I get the following gcc warning in rtr_sync();

/home/fho/git/rtrlib/rtrlib/rtr/packets.c:646:17: warning: attempt to free a non-heap object ‘router_key_pdus’ [-Wfree-nonheap-object]

can you have a look?

If possible it would be nice to move the router_key part in rtr_sync() to another function.

[2014-12-09 12:54] #24 closed, assigned to nbars

[2014-12-10 18:05] waehlisch opened #25 "Update version number"
Before we publish the next release, update version number to 0.2.5 (e.g., in CMakeLists.txt).

[2014-12-11 07:41] #1 closed, assigned to nobody

[2014-12-16 11:28] #21 closed, assigned to nobody

[2014-12-16 11:28] #25 closed, assigned to nbars

[2014-12-16 11:29] #22 closed, assigned to nobody

[2015-03-09 20:34] sigpipe opened #26 "default expire_interval should be 2*refresh_interval"
rtr_init() sets expire_interval to 0.5\*refresh_interval when the caller specifies 0 for the expire_interval.  It looks like the intent was 2\*refresh_interval, because the docs for that function match what is specified in RFC6810.

[2015-10-05 11:28] nbars commented on #26
Thanks for reporting the issue.

[2015-10-12 15:49] shaddeus opened #31 "./tools/rtrclient ssh and valgrind's Conditional jump or move depends on uninitialised value(s)"
Hi,

I am playing with RTRLib SSH transfer mode. It works great!
However I detected with valgrind some warnings 'Conditional jump or move depends on uninitialised value(s)' while I testing with ./tools/rtrclient from RTRLib.

See:
http://www.file-upload.net/download-10968936/valgrind_log.txt.html
(While uploading file at github, I got "Something went really wrong, and we can’t process that file.")

[2015-10-12 20:31] waehlisch commented on #31
Thanks for letting us know! We will have a more detailed look soon.But it seems that it's not a problem in the RTRlib.

[2015-10-22 15:23] waehlisch commented on #26
Literally the bis draft says
[code]

Let me check with Rob.

[2015-11-03 10:09] shaddeus opened #37 "Using two or more groups may cause a double locking of mutex (deadlock)"
Hi!

## Scenario
1. Let have two groups each with one socket and pass these into the RTR MGR
2. Both of two RTR cache server endpoints are down at first and both of two groups go to ```RTR_MGR_ERROR```
3. One of RTR cache server goes up and the group goes to ```RTR_MGR_ESTABLISHED```
4. When a group goes into ```RTR_MGR_ESTABLISHED``` in function ```rtr_mgr_cb()```, immediately is call ```rtr_stop

[2015-11-03 10:51] shaddeus opened #38 "Is possible add/remove a rtr_socket in some group on the fly?"
Hi, all!
It would be nice if I could safely add or remove some rtr_socket (=cache server) into running RTR MGR without stopping the whole RTR MGR. Is it possible?

[2015-11-03 13:44] shaddeus opened #39 "Does exist some RTR MGR state transitions diagram?"
Does exist some RTR MGR state transitions diagram?
Thanks,
Pavel

[2015-11-03 17:48] shaddeus opened #40 "Go back to the better-preferred group without waiting for actual established group goes to troubles"
## Scenario

1. Let have two groups: Better Group (more preferred) and Worse Group (less preferred). Both include only one socket (cache server).
2. Better Group's cache server is down and Worse Group's cache server is up
3. RTR Manager start
4. RTR Manager synchronizes with Worse Group and **not close Better Group**
5. Better Group's cache server goes up
6. RTR Manager **detects that there is a b

[2015-11-05 19:36] fho commented on #39
Sorry, no state diagram exist

[2015-11-05 19:36] #39 closed

[2015-11-05 20:31] shaddeus commented on #39
Never mind and thanks for the reply.

[2015-11-21 09:24] wijethunge opened #42 "/root/quagga-rtrlib/bgpd/bgp_rpki_commands.c:273: undefined reference to `tr_ssh_init'"
Hi Team

I'm experiencing below error when I hit make on the package, could you guys please help me with this as early as possible

libtool: link: gcc -fPIE -Os -fno-omit-frame-pointer -g -std=gnu99 -Wall -Wsign-compare -Wpointer-arith -Wbad-function-cast -Wwrite-strings -Wmissing-prototypes -Wmissing-declarations -Wchar-subscripts -Wcast-qual -pthread -pie -rdynamic -o .libs/bgpd bgp_main.o  libb

[2015-11-23 15:36] waehlisch commented on #42
Did you install libssh?
Can you be more specific which command you run.

[2015-11-24 11:00] wijethunge commented on #42
Hi

I have referred below url

git://github.com/rtrlib/quagga-rtrlib.git

On Mon, Nov 23, 2015 at 9:06 PM, Matthias Wählisch <notifications@github.com

[2015-11-24 11:17] waehlisch commented on #42
@wijethunge please use the branch https://github.com/rtrlib/quagga-rtrlib/tree/temporary/rebase

[2015-11-24 11:34] wijethunge commented on #42
hey

sorry for the trouble, can you please guide me trough installation steps to
follow through, because I'm still new to this..

Thanks in advance..
On 24 Nov 2015 16:47, "Matthias Wählisch" <notifications@github.com> wrote:

[2015-11-24 12:11] waehlisch commented on #42
After you have installed libSSH and RTRlib:
[code]

[2015-11-24 12:22] wijethunge commented on #42
does all should have to be on the same path ?

what is the best path to install this?

is it ok olif I proceed with latest ubuntu LTS version?

Thanks a lot for your kind cooperation..

cheers
On 24 Nov 2015 17:41, "Matthias Wählisch" <notifications@github.com> wrote:

[2015-11-24 12:28] waehlisch commented on #42
Where to install depends on you. Easiest way is to use default paths (/usr/local/...).
Latest Ubuntu LTS should be fine.

[2015-11-24 12:49] wijethunge commented on #42
is it libssh-dev ? or just libssh?
On 24 Nov 2015 17:58, "Matthias Wählisch" <notifications@github.com> wrote:

[2015-11-24 12:56] waehlisch commented on #42
libssh-dev

[2015-11-24 12:56] wijethunge commented on #42
Hi

Sorry for the trouble, is below method correct for rtrlib installation ?

*# cd / usr / src*
*#wget **https://github.com/rtrlib/quagga-rtrlib.git
<https://github.com/rtrlib/quagga-rtrlib.git>*
#cd rtrlib
Release #cmake D = D CMAKE_BUILD_TYPE LIBSSH_LIBRARY = / usr / lib /
i386-linux-gnu / libssh.so LIBSSH_INCLUDE D = / usr / lib / i386-linux-gnu.
#make
#make install

On Tue, Nov 24, 2015 at 6:

[2015-11-24 13:02] waehlisch commented on #42
No.
[code]

[2015-11-24 13:04] wijethunge commented on #42
Thanks a lot I will try right away...

Thanks again

On Tue, Nov 24, 2015 at 6:32 PM, Matthias Wählisch <notifications@github.com

[2015-11-24 13:31] wijethunge commented on #42
Hi

Thanks to you all got installed

But still I couldn't telnet 127.0.0.1 bgpd

Is there additional steps me to follow on ?

On Tue, Nov 24, 2015 at 6:34 PM, Thanushka Wijethunge <
thanushka.rc@gmail.com> wrote:

[2015-11-24 13:41] wijethunge commented on #42
Hi

I just only needs to run bgpd service

Thanks in advance

On Tue, Nov 24, 2015 at 7:00 PM, Thanushka Wijethunge <
thanushka.rc@gmail.com> wrote:

[2015-11-24 14:00] wijethunge commented on #42
Hi

May thanks if you can confirm this steps are correct me to follow in bgpd
installation and ncc validation

#adduser quagga
#echo "/usr/local/lib/i386-linux-gnu" >> /etc/ld.so.conf
#ldconfig
#cd /usr/local
#chown -R quagga.quagga etc/
#echo "password test" > /usr/local/etc/bgpd.conf
#cd/usr/local/sbin
#./bgpd &
#ps -ef | grep bgpd
#telnet localhost bgpd  (deberias obtener un prompt, password te

[2015-11-24 14:04] waehlisch commented on #42
Actually, these problems are independent of the RTRlib.
What is the output of "ps -aux | grep -i bgpd"? If there is no process running, telnet will fail.
If the projects is running, you can check if the daemon listens on the correct port "netstat -an | grep 2605"

[2015-11-24 18:09] wijethunge commented on #42
Hey Boss

Everything is working perfect, thanks for your grate support, i have one
last question to trouble you

I have configured bgpd as below by referring an article

#adduser quagga
#echo "/usr/local/lib/i386-linux-gnu" >> /etc/ld.so.conf
#ldconfig
#cd /usr/local
#chown -R quagga.quagga etc/
#echo "password test" > /usr/local/etc/bgpd.conf
#cd/usr/local/sbin
#./bgpd &
#ps -ef | grep bgpd
#teln

[2015-11-25 15:28] waehlisch commented on #42
I suppose that you don't have write access. Check /usr/local/etc/ or the file /usr/local/etc/bgpd.conf.sav

[2015-11-26 10:44] wijethunge commented on #42
Hi

I got another question could you please help me ?

How can I get bgpd routing table to my ubuntu routing table ?

On Wed, Nov 25, 2015 at 8:58 PM, Matthias Wählisch <notifications@github.com

[2015-11-26 14:14] wijethunge commented on #42
I really need your help and advice on this, please..
On 26 Nov 2015 16:14, "Thanushka Wijethunge" <thanushka.rc@gmail.com> wrote:

[2015-11-26 17:13] wijethunge commented on #42
Hi

Please find the two routing tables below

###BGP

rpki-VirtualBox# sh ip bgp
BGP table version is 0, local router ID is 10.1.1.1
Status codes: s suppressed, d damped, h history, * valid, > best, =
multipath,
              i internal, r RIB-failure, S Stale, R Removed
Origin codes: i - IGP, e - EGP, ? - incomplete
RPKI codes: V valid, I invalid, N not found

    Network          Next Hop

[2015-11-27 11:40] waehlisch commented on #42
I highly recommend that you read http://www.nongnu.org/quagga/docs/docs-info.html
The Zebra daemon, which is part of Quagga, handles the exchange between Quagga routes and Linux kernel routing table.

[2015-11-27 11:40] #42 closed

[2015-12-02 16:18] #40 closed

[2015-12-02 16:21] #37 closed

[2015-12-02 16:57] #23 closed

[2016-03-14 21:28] nbars opened #46 "Improve handling of invalid rtr_init() init values"
See bacfbf4dc2ef092d09e744f44784c8b191d4ac36

[2016-03-16 00:09] waehlisch opened #47 "Improve CI and automatic testing"
- [x] Compiling w/ and w/o SSH in Travis
- [x] Integrate outcome of tests/ into Travis
- [x] Add test function in tests/, which validates against live RTR cache (probably not possible with Travis?)

For automatic testing of live data we can verify against the ROA configuration for the RIS beacons, see https://www.ripe.net/analyse/internet-measurements/routing-information-service-ris/current-ris-ro

[2016-03-16 00:19] waehlisch opened #48 "Improve documentation in tests/"
Add documentation to
- [x] test_lpfst.c
- [x] test_pfx.c
- [x] test_pfx_locks.c

As an example see test_ht_spkitable.

[2016-03-25 16:44] #46 closed

[2016-04-04 15:45] #26 closed

[2016-04-05 20:32] #16 closed

[2016-04-06 14:24] waehlisch opened #55 "Reduce warnings"
Reduce number of warnings when compiling.

[2016-04-07 10:01] smlng commented on #3
Consistent code style would be great, and the kernel coding style is fine. Except for on thing, I would recommend to use typedef for structs and enums. IMHO this would enhance readability and reduce length of statements.

[2016-04-07 15:03] waehlisch commented on #3
They have been removed in PR #8. @fho comments?

[2016-04-07 17:58] smlng commented on #3
Yes I see - maybe there is no right or wrong here. So can we find rough consensus on this: do we want to apply _strict_ kernel coding style or revert to/opt for _better_ readability?

Further, in [rtrlib/rtr/packets.c](https://github.com/rtrlib/rtrlib/blob/master/rtrlib/rtr/packets.c) there are lots of _enums_ and _structs_ defined which should be moved to the corresponding header file - or is the

[2016-04-08 08:45] fho commented on #3
Hello Matthias and Sebastian :-)

I would go with the full Kernel coding style, without our own extra rules.

The Kernel Coding Style Guide argues regarding better readability when typedefs are used:

https://www.kernel.org/doc/Documentation/CodingStyle

If the user wants to have typedefs, he could also declare them on his own.

They are in the .c file because they have a private scope. They are o

[2016-04-08 13:38] smlng commented on #47
Compiling with SSH in Travis is possible (just install libssh-dev as a dependency), but why bother compiling _without_ SSH? Failures in non-ssh code parts will be found either way.

Each Travis build environment (VM) has network access, so running live validation tests should be possible, too.

[2016-04-08 16:25] waehlisch commented on #47
If (for whatever reasons) SSH is not found, RTRlib might successfully compile w/o SSH. The we assume everything is fine, even though SSH compilation has not been checked.

[2016-04-10 19:31] smlng commented on #47
All points are addressed (and fullfilled) by PR #58

[2016-04-11 09:04] smlng opened #61 "Travis failures caused by cppcheck"
Travis fails for some branches and PRs though the respective code compiles without error, ```cppcheck``` is raising several warnings/errors. It does not fail in master branch, because Travis uses an older version of cppcheck there. However, by applying #58 Travis will use a newer version of Ubuntu and cppcheck.

I would suggest to disable cppcheck in Travis and use it as an offline tool for develo

[2016-04-11 11:21] waehlisch commented on #61
Why disabling if it now works under travis?

[2016-04-11 11:28] smlng commented on #61
As said above: cppcheck on master currently works because it uses standard Travis container with an older cppcheck version. With PR #58 rtrlib will use newer Travis container with newer cppcheck version, with the latter raising more issues resulting in a build fail -> but only for cppcheck, the code compiles.

From what I saw in Travis output for my PR #58 there quite a number of issue in the code

[2016-04-11 11:34] waehlisch commented on #61
@smlng got it! Then let's wait for @fho.

[2016-04-11 13:50] fho opened #62 "Checkout coverity for rtrlib code analysis"
Evaluate if https://scan.coverity.com/github is usable to analyze the rtrlib and detect errors. If it is, implement it in the travis build chain

[2016-04-13 11:59] smlng commented on #55
Looking at Travis [output](https://travis-ci.org/rtrlib/rtrlib/builds/122530842) for the master branch, I would say we can close this issue for now: @waehlisch, @fho?!

[2016-04-13 12:02] smlng commented on #61
Is fixed, closing!

[2016-04-13 12:02] #61 closed

[2016-04-13 14:29] smlng commented on #47
We can close this one, as soon as PR #58 is merged?

[2016-04-14 09:18] #31 closed

[2016-04-14 09:28] smlng opened #63 "Update file header license statement"
The header of most source files is outdated and therefore inconsistent with license (MIT here) issued with  rtrlib as a whole.

Further, it might be helpful to state/name the (lead) authors of code-files in their header as well - that way issues can be addressed, assigned, and discussed more directly.

[2016-04-14 11:35] smlng commented on #3
To push this initiative, maybe we should enforce coding style on PRs that introduce changes to any source file?

[2016-04-14 11:50] #47 closed

[2016-04-14 11:51] #55 closed

[2016-04-14 13:22] waehlisch commented on #2
Have a look [here](https://github.com/rtrlib/rtrlib/wiki/Contributing-to-RTRlib).

[2016-04-14 13:33] smlng commented on #2
Look good to me. Should we create a file `CONTRIBUTING` with same content or with link to the WIKI within the repo root?

[2016-04-14 14:52] fho commented on #2
CONTRIBUTING file is a good idea :+1:

[2016-04-15 09:57] smlng commented on #2
I looked into some other projects and their contributing policies/description. I found that some also state that new features or extended modification should first be discussed with the community via an issue.

Maybe we should add some text on that too. Stating that a PR should address/reference a certain issue if it introduces major code changes. If no such issue exists, the user must create one

[2016-04-15 13:09] smlng commented on #48
PR #66 should _fix_ this one. Close issue after merge?

[2016-04-18 15:16] waehlisch commented on #2
Done with 599bba0d708fa47e2309dc3554d026993b25bced.
See also [wiki](https://github.com/rtrlib/rtrlib/wiki/Contributing-to-RTRlib).

[2016-04-18 15:16] #2 closed

[2016-04-20 10:38] salsh opened #67 "Memory error in -Usage example of the RTR connection manager-"
I get a memory error while running the example for the rtr_mgr of the doxygen-documentation (http://rtrlib.realmv6.org/doxygen/latest/rtr_mgr_8c-example.html).

Valgrind prints the following error messages:
[code]

[2016-04-20 12:15] smlng commented on #67
mhm, I just tried to reproduce your error, but failed to do so. I used latest rtrlib master compiled it with `cmake -DCMAKE_BUILD_TYPE=Debug .` . Afterwards, compiled  and run the rtr_mgr example from doxygen (as stated above) against it: no segfault. However, I tested on MacOS so might be different on other systems.

Could you (@salsh) please be more specific: namely which OS (Linux distro) and v

[2016-04-20 13:20] salsh commented on #67
I compiled with `cmake -D CMAKE_BUILD_TYPE=Release .`. Afterwards I compiled the example with `gcc rtr_mgr.c -lrtr -o ./rtr` and ran it with `valgrind ./rtr`.

OS:
`Distributor ID:	Ubuntu,
Description:	Ubuntu 15.10,
Linux 4.2.0-16-generic x86_64
`

RTRLib:
- the lastest master branch version

Code:
- [rtr_mgr.c.zip](https://github.com/rtrlib/rtrlib/files/227967/rtr_mgr.c.zip)

[2016-04-20 14:37] smlng commented on #67
Thanks @salsh for the additional info. However, I can still not reproduce your error. I tested it on Linux (only had latest Debian 8 nearby) with same commands as you posted above, and even ran it with valgrind: still no SEGFAULT. Is it possible that you have an _older_ version of the RTR lib installed which is used for linking?

Just to clarify my steps, here is what I did:
[code]

The `-I. -L.`

[2016-04-20 15:31] waehlisch commented on #67
Obviously @salsh uses the `/usr/lib/librtr.so.0`. If this is not the current version, @smlng is right.

[2016-04-20 15:38] smlng commented on #67
Oh yeah, I oversaw that one 😄 the valgrind output clearly shows usage of the installed library

[2016-04-20 18:24] salsh commented on #67
@waehlisch was right, I apologize very much for the time and effort. Thanks @smlng and @waehlisch for the competent help.

[2016-04-20 18:24] #67 closed

[2016-05-03 15:07] waehlisch opened #72 "Python Binding"
Provide binding for RTRlib in Python + docu.

[2016-05-03 17:55] waehlisch opened #73 "Debian package requires libssh"
It seems that the Debian package requires libssh. We should be more relaxed. If a libssh package is available, we should compile with SSH. If there is no ssh package, we should compile w/o SSH support.

[2016-05-10 14:59] smlng commented on #73
It's not a bug, it's hardly a feature. IMHO, RTRlib depending on `libssh` is not a big deal, as the `apt` tools will install any dependencies automatically. However, with PR #74 applied its possible to create deb-packages of RTRlib not relying on `libssh`.

[2016-05-14 19:46] smlng commented on #48
Done with merge of PR #66.

[2016-05-14 19:46] #48 closed

[2016-05-27 16:58] smlng commented on #63
All done, closing!

[2016-05-27 16:58] #63 closed

[2016-06-03 12:36] smlng opened #77 "update/change init of structs"
Hi all,

I started reviewing some of the code inclusions of `rtrlib` into BIRD, btw. latest branch on that is [int-new-bgpsec](https://github.com/CZ-NIC/bird/tree/int-new-bgpsec/proto/rpki). Though I haven't found any improvements so far, we may copy some coding style as an enhancement to `rtrlib`.

The coding style refers to initialization of structs, this is how we currently do it, for instance

[2016-06-05 08:48] fho commented on #77
Yes, I agree the initialization in BIRD is the better way.
But I think it's not worth to spend time on it:)

[2016-06-05 15:19] smlng commented on #77
True indeed, but that was the only _interesting_ part I found in the BIRD RTR part, so far. We should put it on the list, anyway, for refactoring remaining code parts to comply with kernel coding style.

[2016-06-20 09:02] smlng opened #80 "inconsistent port attribute in structs tr_tcp_config and tr_ssh_config"
I just stumbled over a weird inconsistency, `tr_tcp_config` is defined as:

[code]

and `tr_ssh_config` as:
[code]

Is there any reasoning why `port` is a char pointer for tcp and an uint for ssh? IMHO this should be the same (which way ever) in both cases?!

[2016-06-20 09:37] waehlisch commented on #80
Good point. As TCP is more frequently used, we should not change the TCP API, I would say. Comments @fho?

[2016-06-20 09:47] nbars commented on #80
I think the reason for using a char* is that functions like `getaddrinfo` expect that the port is passed as this type. However I would prefer `unsigned int`, but as @waehlisch said this would break many implementations using the rtrlib.

[2016-06-20 09:51] nbars commented on #80
I would resolve this issue when we're fixing #4, because this will anyway change the library API.

[2016-06-20 10:03] smlng commented on #80
My question was, why these (very) similar structs have a differing declaration of their port attribute? I wasn't arguing in favor of (or against) `char *` or `unsigned int`, IMO it should be consistent.

Look into [rtrclient.c](https://github.com/rtrlib/rtrlib/blob/master/tools/rtrclient.c#L190), if mode `tcp` port is just passed, and if mode `ssh` its converted into `unsigned int`.

[2016-06-20 11:49] nbars opened #81 "Missing validation of interval values received from cache server"
Currently there are no checks implemented to validate if the received interval values are in the ranges specified by the RFC. See #79 and `rtr_sync_receive_and_store_pdus` in `packets.c`

[2016-06-20 13:11] shaddeus commented on #80
TCP transport `getaddrinfo()` [tcp_transport.c:53](https://github.com/rtrlib/rtrlib/blob/master/rtrlib/transport/tcp/tcp_transport.c#L53) needs representation in `const char *`. SSH transport [ssh_transport.c:55](https://github.com/rtrlib/rtrlib/blob/master/rtrlib/transport/ssh/ssh_transport.c#L55) expects port number as 'unsigned int'. It is better to convert string to `unsignet int` only once at

[2016-06-20 13:23] smlng commented on #80
@shaddeus: ah I see, thanks for the pointer.

So these differing types make sense from a library (internal) perspective, but might be a bit confusing for an external developer using these structs.

So maybe @nbars is right and we resolve this issue via fixing #4, i.e., hide such internal structs from the developer/application.

[2016-06-20 18:58] waehlisch opened #84 "No output from rtrclient"
There is no ROA output after starting rtrclient, even though connection to cache server was successfully established.

[2016-06-20 19:23] nbars commented on #84
Passed `-p`? For me its working...

[2016-06-20 19:29] smlng commented on #84
@waehlisch: confirmed @nbars! For me its working as well.

[2016-06-20 19:29] smlng commented on #84
some output:

[code]

[2016-06-20 22:52] waehlisch commented on #84
Strange, doesn't work for me:

mobi1:~/rpki/rtrlib-0.3.6/bin$ ./rtrclient tcp rpki-validator.realmv6.org 8282 -p
Prefix                                     Prefix Length         ASN
RTR-Socket changed connection status to: RTR_RESET, Mgr Status:
RTR_MGR_CONNECTING
RTR-Socket changed connection status to: RTR_SYNC, Mgr Status:
RTR_MGR_CONNECTING
RTR-Socket changed connection status to: RTR_FAST_REC

[2016-06-20 22:55] nbars commented on #84
The syntax is `./rtrclient tcp [options] <host> <port>`. The `-p` is at the wrong position.

[2016-06-20 22:58] waehlisch commented on #84
Got it. Now it works. Seems like a too strict order of parameters.

On Mon, 20 Jun 2016, Nils Bars wrote:

--
Dr. Matthias Waehlisch
.  Freie Universitaet Berlin, Inst. fuer Informatik, AG CST
.  Takustr. 9, D-14195 Berlin, Germany
.. mailto:m.waehlisch@fu-berlin.de .. http://www.inf.fu-berlin.de/~waehl
:. Also: http://inet.haw-hamburg.de .. http://www.link-lab.net

[2016-06-21 07:07] #84 closed

[2016-06-21 09:31] waehlisch commented on #80
@shaddeus as a user of RTRlib, what do you think about #4?

[2016-06-21 11:53] shaddeus commented on #80
@waehlisch thanks for a call!

The RTRlib is multithreaded stand-alone living library and in my opinion it would be nice to **make a deep copy of all parameters** passed into RTRlib and put them into `struct rtr_mgr_config` in `rtr_mgr_init()`

Anyway:

- move a triple `const char *host, *port, *bindaddr` into common `struct tr_socket` and then make a deep copy

- remove public `struct tr_tcp_conf

[2016-06-22 01:54] fho commented on #80
Like @nbars mentioned, the TCP socket supports to pass a service name (/etc/services) or a port number as char *. It's then resolved from getaddrinfo to a numeric value.
The SSH socket only supports numeric port numbers.

Yes, would be better if it would be the same type for both.

Solving #4 would be the best solution. It would also allow to change the internal representation without effecting th

[2016-06-22 04:59] shaddeus commented on #80
The SSH socket could be set by `const char *` too using `SSH_OPTIONS_PORT_STR` instead of `SSH_OPTIONS_PORT`. See [LibSSH API: Session: ssh_options_set()](http://api.libssh.org/master/group__libssh__session.html#ga7a801b85800baa3f4e16f5b47db0a73d)

[2016-08-15 09:02] shaddeus opened #87 "Byte order of an encapsulated erroneous pdu in an error pdu"
RPKI-RTR could send an error PDU with encapsulated PDU from other side that was wrong. The function [`rtr_send_error_pdu()`](https://github.com/rtrlib/rtrlib/blob/master/rtrlib/rtr/packets.c#L1110) expects an erroneous pdu in network byte order. The function is called correctly from function [`rtr_receive_pdu()`](https://github.com/rtrlib/rtrlib/blob/master/rtrlib/rtr/packets.c#L428) where the pdu

[2016-09-27 13:49] mroethke commented on #72
Hi,

I am working on a python binding for rtrlib. It can be found [here](https://github.com/mroethke/rtrlib-python).

Currently only basic validation is supported and only one socket can be used.

I reimplemented the cli-validator and the rtrclient in python to provide some examples, you can find them in the tools directory.

If you have any comments or questions please fire away :)

[2016-10-06 07:52] mroethke opened #93 "Unit testing"
Currently rtrlib only has integration-ish with some unit-ish salt testing but no proper unit testing.

Because of that many of the error states are not covered by the tests.

Using a unit testing framework with mocking support might be a good idea.
But since I have no experience with unit testing in C I can not recommend anything.
I stumbled upon [cmocka](https://cmocka.org/) though which seems to

[2016-10-19 09:04] smlng commented on #72
With [this](https://github.com/rtrlib/python-binding) available, the issue is resolved. Big thanks to @mroethke 👏

[2016-10-19 09:04] #72 closed

[2016-10-19 09:08] smlng commented on #73
Closing this one, is solved with #91 in place.

[2016-10-19 09:08] #73 closed

[2016-10-19 09:18] smlng commented on #77
Not a real issue, closing.

[2016-10-19 09:18] #77 closed

[2016-10-19 11:21] salsh opened #95 "Shared-memory support for pfx_table struct"
**Problem**
For optimization purposes, it would be necessary to be able to declare an instance of the struct `pfx_table` in the shared memory. Thus, different processes would have the possibility to share the same prefix table. Currently, however, this is not supported because the struct contains two `lpfst_node` pointers for IPv4 and IPv6. These point to the local heap, which is not available for

[2016-10-26 10:12] reuteran opened #96 "Adapt wiki examples to new API"
This includes putting the expiration interval above 600 (in ex. its 5xx which will cause a RTR_INVALID_PARAM).

[2016-10-26 16:25] smlng commented on #96
I think I addressed all pending issue, please review the wiki.

[2016-10-31 16:12] reuteran commented on #96
Everything looks good! thanks

[2016-10-31 16:12] #96 closed

[2016-11-10 09:17] #93 closed

[2016-11-10 09:49] mroethke commented on #4
In response to #86 we discussed required features of a new API for the rtrlib, We came up with following list (without claim to completeness):

- [ ] dynamic group creation and removal
- [ ] dynamic socket creation and removal
- [ ] intervals per socket/cache server
- [ ] memory handling by rtr manager

[2016-11-17 14:43] reuteran opened #99 "Incorrect validation results"
For prefix 1.9.23.0/24 there are two ROAs:
[code]

[code]

I used `'pfx_table_validate_r(..)' ` to validate this:
[code]

And the result is `BGP_PFXV_STATE_INVALID`, but it should be `BGP_PFXV_STATE_VALID`.

I've confirmed this using the cli-validator:

[code]

I checked the ROAs at http://rpki-validator.realmv6.org:9090/roas (search for 1.9.23.0/24)

It looks like the validation code is only chec

[2016-11-17 15:06] waehlisch commented on #99
You are right. That's an embarrassing bug. Can someone check the code and fix this ASAP?

@reuteran did you check that the /16 ROA is part of the pfx_table?

Actually, if you are right, the current code searches for the most specific covering (not matching) ROA.

[2016-11-17 15:40] reuteran commented on #99
@waehlisch

Not directly, since gdb won't let me step into it for some reason (compiled with debug symbols).
But I queried for:
[code]
which returns:
[code]
The section after the first '|' means that there is indeed an pfx_table entry for 1.9.0.0/16-24 for AS4788.

[2016-11-17 15:55] waehlisch commented on #99
OK. Still embarrassing. Can you fix this?

[2016-11-17 15:58] reuteran commented on #99
OK, but it might take a bit because I am unfamiliar with the pfx_table. Hopefully I'll have it by tomorrow

[2016-11-17 16:20] waehlisch opened #100 "Add test"
@smlng you already worked on the tests. Can you please extend the tests to cover issue #99 ?

[2016-11-18 14:33] smlng commented on #100
Yes, I'll extend `pfx_test.c` accordingly to cover the reported case, PR will be ready on short notice.

[2016-11-19 20:34] smlng commented on #99
I added a test in #101 that should reflect the described case, however the test passes successful not showing the same problem.

[2016-11-19 20:47] smlng commented on #100
Closing, see #101

[2016-11-19 20:47] #100 closed

[2016-11-20 01:25] waehlisch commented on #99
Looks correct to me. But I'm in a rush. @reuteran, can you check?

[2016-11-20 01:45] reuteran commented on #99
The test doesn't reproduce the problem because the length of the shortest prefix is much longer than the height of the prefix tree.
I think this example should show the bug:
Add to empty tree:
[code]
Then validate with prefix=255.0.0.0/24, asn=D. This should give invalid.

[2016-11-20 09:22] smlng commented on #99
@reuteran interesting, your example already works by adding the last 2 lines, only. This should give valid, but the test fails ...

Are you working on a fix for rtrlib?

[2016-11-22 06:00] waehlisch commented on #99
We don't see an easy fix of this problem. If you have solution, please share.
@reuteran will work on Trie, as an alternative data structure.

cc @tcschmidt

[2017-01-08 17:27] fho opened #107 "LIBSSH_LIBRARY, LIBSSH_INCLUDE cmake variables described in README but not considered from cmake"
The README states:

But those variables are not considered from cmake/modules/FindLibSSH.cmake.
Calling
`cmake -D LIBSSH_LIBRARY=/tmp/libssh/ .
`
generates a warning:

[code]

[2017-01-08 17:31] fho commented on #107
fixed in #108, please review and merge

[2017-01-08 17:47] fho commented on #95
Thanks for your suggestion!
In a scenario where multiple processes are using the RTRlib with the same RTR servers and the memory would be very very sparse it would give a benefit.

I don't know how much memory the pfx_table currently consumes. I would assume it is <1MB and in most usecases only 1-2 instances of the same pfx_table are kept in memory at the same time.
Additionaly sufficient amount o

[2017-01-10 19:30] #107 closed

[2017-01-20 09:50] fho opened #109 "Revert changes on checkpatch.pl"
I couldn't figure out how to reopen a merged issues, so I created this one :-)

Issue is described in https://github.com/rtrlib/rtrlib/pull/97#issuecomment-274027004

[2017-01-20 09:51] #95 closed

[2017-01-20 09:52] fho commented on #99
Can this issue be closed? It seems to have been fixed by #103?

[2017-01-20 10:04] #3 closed

[2017-01-20 12:09] fho commented on #4
Let's resume the discussion about a new API on the base of @nbars suggestion in #86.

- Why do we have rtr_mgr_groups?
They seem to only increase complexity for the user.
Instead of having rtr_mgr_groups, the user could add sockets to the group.
If 2 sockets have the same lowest preference value, the mgr establishes connections to both of them.
If we have distinct cache datasets, we may want to ha

[2017-01-20 12:15] fho opened #110 "Create a general test framework for RPKI-RTR client implementations"
Create a general test framework that evaluates a RPKI-RTR client implementation against the RFC.
The framework would simulate a RPKI-RTR server, the client connects to it and the server play through scenarios described in the RFC. (error handling, disconnect, PDU transfer etc).
At the end of the the test run, the framework could output the tested scenario with references to the RFC, award points f

[2017-01-20 12:37] nbars commented on #110
I started some month ago a framework:
https://github.com/nbars/rtrlib/tree/test_framework

Here you can see a example test case:
https://github.com/nbars/rtrlib/blob/test_framework/tests/test_network/pdu_wrong_length.c

What do you think about this approach?

[2017-01-20 13:02] fho commented on #110
Cool! :-) That's basically what I had in mind.

I would prefer to make a seperate project out of it and use a higher-level language for it like Python, maybe use something like pytest to running the test. It would make it easier and faster to implement.

Instead of linking the framework to rtrlib, we could provide a general interface.
E.g. you pass to the framework the path to a binary and paramet

[2017-01-24 09:43] fho commented on #99
https://github.com/rtrlib/rtrlib/issues/99#issuecomment-261752485

I wonder why 255.0.0.0/24, asn=D should give an invalid validation result.

AS D is authorized to announce routes for 128.0.0.0/1-24.
Prefix length 1 means, that only the first bit of the IP-address determines the network.
Therefore valid host addresses of 128.0.0.0/1 of AS D are  128.0.0.1-255.255.255.254.
The network 255.0.0.0/24

[2017-01-24 09:46] smlng commented on #99
@fho you're right about AS D and that is authorized to announce the prefix. However, RTRlib with lpfst will resolve to invalid (which is wrong), that's what @reuteran is pointing out here, i.e. he describes the failure case *not* the expected validation result!

[2017-01-24 15:36] fho commented on #99
@smlng thanks!

Do I understand it right that the problem with the current implementation is the following?:

The LPFST looks like this:
[code]
We are trying to verify 255.0.0.0/24.
The lpfst_lookup() starts searching at the root node, compares bit 0 of 10.100.255.0 (1100) and 255.0.0.0 (1111, they don't match.
Because bit 0 of the searched prefix is 1 it continues the search at the left child nod

[2017-01-24 16:21] reuteran commented on #99
The other way I around I think. If the bit is 1, it goes into the right tree. So in your example, it would never search the 128.0.0.0/1-24 record.

[2017-01-24 16:25] smlng commented on #99
Its a bit complicated, because the lpfst search in itself is successful -> it finds the node with `255.0.0.0/24` but the ROA contained there is with AS A, which gives an invalid as we initiated our search with `255.0.0.0 24 AS-D`. However, there is a valid ROA in node `128.0.0.0/1` with max length 24 and AS D. Which is never found with lpfst, and never will be because of its bit-wise search.

I tr

[2017-01-24 17:06] fho commented on #99
Yes, the lpfst seems to not be able to handlle that scenario correctly.
I saw #104, #103 but it takes a lot of time for me to get the ideas by only reading the code without any textual descriptions.

I tried to convert the LPFST to a shortest prefix search tree, only 1 line of code needs to be changed in the lpfst for it.
The discussed scenario worked. A few test failed in test_lpfst.c but the one

[2017-01-24 19:49] smlng commented on #99
@fho I tried to mod/fix the lpfst, too - but without success, I found ways to fix some of the failed validation results but other still persisted.

If you have an alternative solution, don't hesitate to make a PR. @ColinBS has a test framework with more extensive offline tests to verify and compare proposed fixes.

[2017-01-25 00:39] waehlisch commented on #99
@reuteran and I also thought about a fix. But actually there is no simple solution. Very most likely a potential fix will result in O(number of prefixes) search complexity or alternatively in significantly increased memory consumption. The problem is that you don't easily know which sub-tree you should traverse to find _all_ ROAs.

I don't think that a fix of LPFST will bring better performance co

[2017-01-25 09:42] fho commented on #99
My solution can be found at https://github.com/rtrlib/rtrlib/tree/issue/99.
I  changed the ordering of the nodes in LPFST to sort nodes with shorter prefixes before nodes with longer prefixes.
The whole fix in the lpfst are just 2 lines: https://github.com/rtrlib/rtrlib/commit/d85c21ca01ce26ce3cbc5619e5951954c9696239
I also had to rework the lpfst tests because of the changed tree structure, all t

[2017-01-25 13:27] reuteran commented on #99
@fho Your fix is essentially the same as I did.
However the 'lpfst_lookup' function doc says:

So I rewrote it for the trie so it still returns the node with the longest prefix. Its not needed anywhere, because validation wants to get the first matching prefix in the tree (which used to be the longest in the lpfst). So right now its just being called by tests.

I replaced 'lpfst_lookup' with 'trie

[2017-01-25 14:43] fho commented on #99
@reuteran Ah ok :-)
I'm fine with using your version if you ant to adapt it.
Sounds better for me to change the description of lpfst_lookup() and remove trie_lookup_first_match().
Maybe you then want to cherry-pick my changed lpfst test, that works with the spfst: https://github.com/rtrlib/rtrlib/commit/1261e3bca55cb3da44bd45eaa8a6e6b8b048e663

https://github.com/rtrlib/rtrlib/commit/ed9c5bb613e12

[2017-01-25 15:11] waehlisch commented on #99
@fho, I'm heavily confused. Trie is a different data structure compared to LPFST. As such we should also have a different API. Keeping the name lpfst_lookup()  to operate on a Trie may lead to incorrect assumptions (regarding the semantic of the function) at the programmer side.

[2017-01-25 15:29] fho commented on #99
@waehlisch Yes, the functions have to be renamed.
What I tried to say was: keep the old function naming scheme in @reuterans branch, rename lpfst_lookup() to trie_lookup(). trie_lookup() should return the first matching node in the tree (like before).
The function trie_lookup_first_match() can then be removed.

[2017-01-31 17:20] mroethke commented on #109
No that is not the issue, the issue is that check level problems should not fail the build, but still show them. That is not possible without patching the script.

Besides we are talking about a 4 line patch that does not modify any existing lines, I doubt that that will cause noteworthy problems during merge of upstream changes.

[2017-01-31 18:48] fho commented on #109
For which reported check level problems does it make sense to be shown but not causing the build to fail?

[2017-02-01 12:37] smlng commented on #109
IIRC the unittest framework _cmocka_ introduces CamelCase names so that checks fail, which would result travis to fail, too. Another work around would be to exclude respective unittests from coding style checks.

[2017-02-02 10:33] fho commented on #109
Yes, or run checkpatch.pl with the corresponding --ignore parameter for that check for all files in tests/unittests/.

[2017-02-02 10:47] fho commented on #99
@reuteran do you think you'll be able to finish the pull request until Monday?
Otherwise I suggest, that I'll finish my version of the fix and ask for a review with a pull request for it.

We should make progess with this, it's already open since 2.5 month and it's an major issue that makes the library unusable.

[2017-02-02 10:52] smlng commented on #109
thought about that, too - I'll add it to #111

[2017-02-02 10:54] smlng commented on #99
I'll check with @ColinBS, he has some tool chain to verify and compare validation results of the different solutions.

[2017-02-02 15:35] waehlisch commented on #99
@smlng yes, before this test has not been completed, we will not merge any code in this context.

[2017-02-02 19:02] fho commented on #4
#38

[2017-02-06 11:44] ColinBS commented on #99
I improved the script to print the exact ROAs with the status of lpfst, trie and the RIPE RPKI validator.
[statistics.txt](https://github.com/rtrlib/rtrlib/files/754476/statistics.txt)

[2017-02-06 13:51] fho commented on #99
@ColinBS cool, which commits do you used exactly?
88f49f1 for trie? 16879b3 for lpfst?

[2017-02-06 13:56] fho commented on #99
There are 134 validations where RIPE RPKI validator result is not found and rtrlib+trie validates 133x valid + 1x invalid
(awk '{if ($6 != $8)  print $0 }' gistfile1.txt)

[2017-02-06 16:02] ColinBS commented on #99
@fho yes, these are the commits I use. I will double check the problem. There might be a mistake on my side.

[2017-02-06 18:36] fho commented on #109
done in #111

[2017-02-06 18:36] #109 closed

[2017-02-06 18:44] fho opened #113 "Change how we do releases"
I think we should the change the way how we do releases.
We haven't done a release since April but a lot of things changed. We don't have any clear guidelines for when to do releases.

Another approach would be that the master version is always the current releases and it's stability is guaranteed by the the travis tests.
As Minor Version Nr (?) we use automatically the latest git commit id in the

[2017-02-06 20:10] waehlisch commented on #113
I don't like this approach. We should have explicit releases. My intention was to release a new version as soon as the new data structure is merged, And then start again with shorter cycles.
However, I agree it is a bit nontransparent which rules we follow for the version number.

[2017-02-07 09:30] smlng commented on #113
I think we should have explicit releases, too. The feature set of RTRlib is rather fixed, most changes are bugfixes or (future) API enhancements, so no need for regular or rolling releases. We should make releases as a sufficient number of changes accumulated in the master since the last release or a major change is introduced.

For instance, after fixing the (big) validation bug, we should make t

[2017-02-07 09:45] fho commented on #113
Ok, it was only a spontaneous idea I had yesterday. :-)

It would be great if we could work out a guideline regarding releasing  and add it to the CONTRIBUTING doc.

Yes, should be after such a long time. On the other hand we had this major validation bug which made the library unusable.

Yes, I agree that people probably think version 0 means alpha version.
In general I would only increase the ma

[2017-02-07 16:04] waehlisch commented on #99
@ColinBS can you please add your scripts to rtrlib/tools (feel free to add a subdirectory).

[2017-02-07 16:51] ColinBS commented on #99
I added the script files to the tools repo.
Here is the result from the spfst implementation:
https://gist.github.com/ColinBS/529458b379bc560d681cafdda090b57d

[2017-02-07 19:23] waehlisch commented on #99
@ColinBS perfect; nice scripting! Would be great if you add the RIPEVal back again. Then we should have everything in place.

[2017-02-07 19:42] fho commented on #99
Would be awesome to integrate it in travis, so that on every git-push rtrlib results would be validated against the ones from the rpki-validator automatically.
But that should we put in a new github-issue :-)

[2017-02-07 21:42] waehlisch commented on #4
@fho thanks for pushing this topic, even though I disagree with some of your remarks ;).

I think this topic should be discussed f2f or in a phone call. Maybe we find time after merging of SPFST/Trie.

[2017-02-08 16:02] fho commented on #4
@waehlisch Yes, would be great to discuss the disagreements. I'm not also not sure about some things. :-)

[2017-02-08 16:09] fho opened #114 "Fix pfx-lpst/spfst issues found by @nbars"
@nbars  pointed out multiple issues in the pfx-lpst/spfst implementation that already exist in the master branch.
@reuteran fixed the issues already in his branch, cherry-pick his fixes if possible.

[2017-02-08 22:47] waehlisch commented on #99
Fixed in PR #112.

[2017-02-08 22:47] #99 closed

[2017-02-08 22:53] waehlisch opened #115 "Create new release"
As soon as #114 is done.

[2017-02-08 22:54] waehlisch commented on #115
@fho which release number should we assign ;)?

[2017-02-09 10:34] #87 closed

[2017-02-09 11:18] waehlisch commented on #115
@smlng can you plesae start extending the CHANGELOG.

[2017-02-09 11:21] smlng commented on #115
@waehlisch, okay I'll make a draft and PR today, where we can extend and discuss the changelog

Version should be 0.4.0 for now? I suggest we wait with version 1.0.0 until the new, simple API is ready, too.

[2017-02-09 12:56] fho commented on #87
Can we please ensure that a commit message describes what problem it fixes?
Also good would be if it would describe how the problem can be triggered and what it can cause.

Nobody can know from a commit message like:

What the problem is that was fixed.
To find it out you have to go to github, find the issue, read the whole thread thats cumbersome.

It also makes it much harder to e.g. compile a c

[2017-02-09 13:00] smlng commented on #87
while you already triggered that and referenced _changelog_: we could consider using [this](https://github.com/rafinskipg/git-changelog). If commit message have certain keywords, a changelog draft could be generated automatically.

I bet there are a bunch of similar tools out there, but this sounds nice in general.

[2017-02-10 10:20] fho commented on #87
nice find, I can't imagine that it works so well in practise.
Often you still want to edit the changelog manually, you don't want to list every commit, you want to rewrite it a little bit for the user also we would have to embed their keywords in the commit messages

[2017-02-10 10:22] #113 closed

[2017-02-10 11:12] smlng commented on #87
Sure, revising an auto generated changelog is most likely required.

However, the point I wanted to make was (and from what you wrote, I think you'll agree), that if we encourage (enforce) usage of certain keywords and a certain style to our commit messages, we could use such tools to generate an initial changelog draft. Without going through the logs by hand

[2017-02-10 11:36] fho commented on #114
I wrote 2 comments in the #103 issue regarding the initial fixes:
https://github.com/rtrlib/rtrlib/pull/103#discussion_r100516074
https://github.com/rtrlib/rtrlib/pull/103#discussion_r100518018

[2017-03-02 09:16] waehlisch opened #118 "Add integration readthedocs"
Allow for our Doxygen doc into ReadTheDocs, see for example: https://github.com/Cruel/readthedocs-breathe/tree/master/docs

[2017-03-27 10:22] #114 closed

[2017-03-29 09:22] smlng opened #120 "macOS: compile failure due to htons (and the like)"
current master fails on macOS with:

[code]

[2017-04-14 16:14] #120 closed

[2017-06-12 13:09] #62 closed

[2017-07-21 08:58] waehlisch commented on #38
@reuteran is working on this, see https://github.com/rtrlib/rtrlib/tree/dynamic-groups

[2017-07-24 19:35] waehlisch commented on #115
Done in with 3da8b54928b4baa57243e74f6c0c91c3c8d0d243.

[2017-07-24 19:35] #115 closed

[2017-09-04 11:56] mroethke opened #133 "Public API and symbol visibility"
Currently there is no clear definition of what we consider to be part of our public API and what not. Furthermore every symbol is public i.e. listed in the DSOs symbol table.
This makes "internal" changes somewhat problematic, because someone might use a function that they should not since we implicitly consider it not to be part of the public API.
This also makes it potentially difficult for user

[2017-11-14 09:41] waehlisch opened #138 "Easy installation of RTRlib package: official pkg repos and Launchpad"
As our RPKI extension was merged into FRR master branch, we want to try again to add RTRlib packages in the official package repositories.

If we don't get it into official repositories soon, we should consider something like Launchpad (see discussion here: https://askubuntu.com/questions/16446/how-to-get-my-software-into-ubuntu).

In any case, we want to have a more easy way for users to install

[2017-11-26 12:11] mwinter-osr opened #140 "Debian Package issues"
I've tried building the debian package. In general, it builds, but has a few issues.
(Sorry, a few minor issues as well - as I spent some time to build a RPM package the same way and some of this didn't make sense)

1) Lintian errors and warnings:

        W: rtrclient: binary-without-manpage usr/bin/rtrclient
        W: cli-validator-dbg: spelling-error-in-description allows to allows one to

[2017-11-26 18:06] waehlisch commented on #140
Thanks @mwinter-osr!

Regarding 1) I'm not so much in favor of overwriting errors or warnings but we can

2) @fho do you remember whu the package is called librtr0 instead of librtr?

3) Good idea. @mroethke can you do?

[2017-11-26 18:38] f0o opened #142 "Unable to build rtrlib without SSH"
Hi,

so far I've tried `-DNOSSH=1`, `-DNOSSH=ON`, `-DCMAKE_BUILD_TYPE=NoSSH` and every time it sill pulls in libssh and compiles against it.

Any pointers on how to make it ignore libssh despite it's presence?

Cheers,
f0o

[2017-11-26 18:42] f0o commented on #142
Disregard, apparently CMAKE_BUILD_TYPE got appended multiple times which caused the issue.

[2017-11-26 18:42] #142 closed

[2017-11-26 21:20] mwinter-osr commented on #140
On 1): I agree on not overwriting errors. If they are errors, then they should be fixed, but if you think it's just a false warning (ie on the manpage), then overriding it would be the solution. I think that the "normal" user who builds the package and may not be too familiar should not see errors/warnings which the community knows and counts as "don't care".

PS: Happy to try helping on fixing a

[2017-11-27 11:48] fho commented on #140
That is on purpose. The package name of a shared library should include the version from the SONAME. This makes it possible to install the same library in different versions.
See: https://www.debian.org/doc/manuals/maint-guide/advanced.en.html

[2017-11-28 03:53] mwinter-osr commented on #140
@fho Thanks for the pointer. Learned something new :-)
(I usually thought the initial version has no number and only newer versions - if incompatible - will have the number attached. ie libssh and libssh2)

Reading this (and others), I do believe I want to follow this example and update the RPM PR #141 to do the same.

[2017-11-28 04:35] mwinter-osr opened #143 "libssh minimum version?"
The doc on the wiki says 0.5.0 is the minimum version of libssh.
The debian package (file debian/control) says 0.6.0 is the minimum

Which one is correct?
(the RPM PR was copied after debian package and currently checks for 0.6.0 as minimum as well)

(0.6.0 exclude older distros such as CentOS 6 and Ubuntu 12.04)

[2017-11-28 08:13] waehlisch commented on #143
We had a discussion on this here #74.
We allow for libssh 0.5.0 (see CMakeLists.txt, which falls back to 0.5.0 if 0.6.0 is not available).
I suppose we configured 0.6.0 in rpm because we prefer more recent versions compared to outdated versions. @smlng?

[2017-11-28 08:50] smlng commented on #143
The rtrlib was implemented against libssh 0.6.0, first. As we only use a certain part of the libssh API and there was some need to support rtrlib on Ubuntu 12.04 LTS (which had/has libssh 0.5.x only too), we found that its quite easy to lower the requirement on libssh version.

However, that was after the initial Debian support was introduced, so it seems that we simply missed to adapt the Debian

[2017-11-28 09:10] fho commented on #140
@mwinter-osr
RedHat/RPMs may have a different naming scheme regarding shared library packages.

[2017-11-28 09:35] waehlisch commented on #143
@mroethke or @smlng can you fix and test? Thanks.

[2017-12-01 15:42] mroethke opened #145 "Write man pages for rtrclient and cli-validator"
Package linting tools like lintian complain about our tools not having man pages and of course they are right about that.

[2017-12-02 03:32] mwinter-osr opened #147 "cmake CMAKE_INSTALL_LIBDIR sometimes absolute path"
Something I ran into, trying to get the RPM package working on CentOS 6. I have close to zero cmake experience, so need advise from someone:

If I build on CentOS 7 (and other newer systems):, the rtrlib.pc ends up like this:
[code]

However on a CentOS 6 system, I get a wrong path for `libdir`:
[code]

This ends up with `libdir=/usr//usr/lib64` instead of `libdir=/usr/lib64`

The issue is based o

[2017-12-02 11:31] waehlisch commented on #147
@fho any idea?

[2017-12-06 09:49] fho commented on #147
@waehlisch no, sorry :-)

[2017-12-07 19:34] smlng opened #149 "Rename `cli-validator`"
One thing that bothered me for a while now is the rather ambiguous name `cli-validator`, IMHO we should rename that to `rtr-validator` or `rpki-validator`, or something similar. But the current name is not very helpful. Specifically, as we currently rework/introduce packaging for Linux distros (#141) and may add man-pages (#145) soon.

What do you think?

[2017-12-08 09:11] waehlisch commented on #149
The program does route origin validation: origin-validation or rpki-rov?

[2017-12-08 09:17] waehlisch commented on #147
Hmm, I also don't have a good idea. It's about a workaround of an old bug. @smlng?

@mwinter-osr what do you prefer?

[2017-12-09 00:21] mwinter-osr commented on #147
I've tried some workaround, but so far with no success. I'll try a bit more over the weekend.
But I'm a cmake novice (never used cmake before). I was counting on someone here understanding cmake better than I do.

[2017-12-11 14:45] mroethke commented on #147
It seems the old cmake version is the problem.
I have found two possible solutions

1. Ship the cmake module GNUInstallDirs and include it if necessary.
2. Just check if CMAKE_INSTALL_LIBDIR is absolute and handle it accordingly.

I did not check if the first one acualty works, the second one is implemented in #150

[2017-12-12 08:07] waehlisch commented on #147
@mwinter-osr does PR #150 work for you?

[2017-12-12 08:09] waehlisch commented on #147
btw, @mroethke, I like your second solution!

[2017-12-14 06:58] mwinter-osr commented on #147
Thanks, PR #150 fixes the issue. Works great.

I'll update PR #141 after this is merged.

[2017-12-14 07:50] waehlisch commented on #147
Fixed in PR #150.

[2017-12-14 07:50] #147 closed

[2018-01-02 15:24] mroethke commented on #149
origin-validation sounds to vague and I think rpki-rov has to many abbreviations.
How about rpki-origin-validator?

[2018-01-02 21:47] waehlisch commented on #149
rpki-origin-validator is a bit too long for my taste.

[2018-01-26 18:24] reuteran opened #152 "Errors when withdrawing previously added VRP"
While testing the new rpki-validator v3, people at RIPE found a problem with the RTRlib:

The rpki-rtr server they are using is here (rpm package, use Centos7):
https://github.com/RIPE-NCC/rpki-validator-3/wiki/RIPE-NCC-RPKI-Validator-3-beta-tester-page

Details about feeding test data to that rpki-rtr server, to reproduce the RTRlib error:

/etc/rpki-validator-3/application.properties
/etc/rpki-r

[2018-02-13 09:59] #152 closed

[2018-03-15 18:48] mwinter-osr opened #159 "rtrlib dev packages should require libssh dev packages"
Building a package with librtr dev package should require libssh dev package

I assume the librtr.pc file is correct, which contains (on Debian):
[code]

Based on this file, it requires libssh and building a package which requires the librtr-dev
(ie FRR), causes a failure on `configure`:
[code]

(`libssh.pc` is part of the libssh-dev package)

[2018-03-20 11:31] waehlisch commented on #159
Fixed in #160.

[2018-03-20 11:31] #159 closed

[2018-03-20 11:33] waehlisch commented on #138
@mroethke can you add an RTRlib project to Launchpad that automatically builds and provide RTRlib packages?

[2018-03-20 11:38] waehlisch opened #161 "Test RTRlib packages provided by FRR"
@mwinter-osr was asking that we test (install) the RTRlib packages that are provided by FRR?
https://ci1.netdef.org/browse/FRR-RPKI0-2/artifact

- [x] Ubuntu 16.04 ARM7
- [x]  Ubuntu 16.04 ARM8
- [x]  Ubuntu 14.04 x86_64
- [x]  CentOS 7 x86_64
- [x]  CentOS 6 x86_64
- [x]  Debian 8 (Jessie) x86_64
- [x]  Ubuntu 16.04 x86_64
- [x]  Fedora 24 x86_64
- [x]  Debian 9 (Stretch) x86_64

[2018-03-20 14:39] mwinter-osr commented on #161
Best to take the packages from https://ci1.netdef.org/browse/FRR-RPKI0/latestSuccessful/artifact (which are the last build). I'm rebuilding them every time frr 4.0 is updated.

The matching RTRLIB packages are at https://ci1.netdef.org/browse/RPKI-RTRLIB/latestSuccessful/artifact (rebuilt from this git everytime master branch changes)

These are based on FRR 4.0 which just got released. The curren

[2018-03-22 10:02] waehlisch commented on #81
Fixed in #98.

[2018-03-22 10:02] #81 closed

[2018-04-26 16:36] lolepezy opened #163 "length validation ROUTER_KEY-type PDUs is probably incorrect"
Hello,

I have the following problem using rtrclient. Whenever I send a PDU of the type ROUTER_KEY I get back an error saying "corrupt data received, length value in PDU is too small?". I did some debugging and found out the following.

The code below defines pdu_router_key to be of the size 4+4+20+4+91=123 bytes.
...
#define SKI_SIZE 20
#define SPKI_SIZE 91
...
struct pdu_router_key {
    uint8_t

[2018-05-03 10:07] mroethke commented on #163
I am somewhat fuzzy where the 91 bytes come from, but assuming that the length of the individual fields is correct #164 should fix this.

Can you confirm?

[2018-05-03 22:57] #163 closed

[2018-05-04 07:13] mroethke commented on #138
I did a little digging, launchpad only supports ubuntu and debian. Open build service(OBS) from the open suse guys supports debian, ubuntu, redhat, centos, archlinux and a few more.

Any objections against OBS?

[2018-05-04 07:15] smlng commented on #138
Nope, proceed 😉

[2018-05-04 13:04] mwinter-osr commented on #138
No problem here, but never used it. Always thought about it being SUSE related (and FRR doesn't support SUSE as nobody really asked about it).
I assume it allows (for Debian) to create a dedicated repo URL for the package similar to launchpad?
(Just publishing packages could be done on github, but the nice thing on Launchpad is to support the "ppa" infrastructure with creating a repo URL for autom

[2018-05-04 13:43] lolepezy commented on #163
It works now, thanks!

[2018-05-07 13:36] reuteran commented on #149
rpki-validator maybe? It could also use a more verbose interface, it doesn't really tell the user how to  validate something.

[2018-05-07 14:00] waehlisch commented on #149
rpki-validator sounds very much like https://github.com/RIPE-NCC/rpki-validator

[2018-05-14 16:08] mroethke commented on #161
I was unable to start frr with rpki enabled on centos6, it seems the module is missing. I believe other rpm distros are also affected.

Regarding automated testing:
The upcoming rpki-validator 3 decouples the cache from the rtr server implementation. The rtr server gets the data via http in json format and and it is possible to run the rtr server without the cache. One could either dump the json f

[2018-05-14 20:31] mwinter-osr commented on #161
Can you tell me if you got any error messages and which ones?
And which module do you expect missing?

(We are in the phase to close down on FRR 5.0, so would love to get RPKI fixed)

[2018-05-15 11:08] mroethke commented on #161
The error message on centos6 is
`bgpd loading module "rpki" failed: rpki: cannot open shared object file: No such file or directory`

The file `bgpd_rpki.so` is indeed missing in the file system and not present in the rpms. It is in the debs though.

[2018-05-15 11:37] mwinter-osr commented on #161
Thanks for the update.
So it sounds like the RPMs are broken (CentOS 6,7, Fedora). I'll take care of this.
FRR Issue opened: https://github.com/FRRouting/frr/issues/2234

Any results on debian packages? You mentioned that the libs are present there, but do they work as intended?

[2018-05-15 12:12] mroethke commented on #161
I tested debian 9 and ubuntu 16.04, they connect to an rpki server without issues.
I will test the remainder of the deb files on Thursday, assuming running ubuntu arm in qemu runs without major issues.

[2018-06-01 08:01] mroethke commented on #161
Are the builds from yesterday supposed to be fixed? Because it seems they are still missing the module.

[2018-06-02 00:55] mwinter-osr commented on #161
Ouch.. Another bug in my CI system. Issue was fixed, but because of another typo in the CI system still built without RPKI support.

It's fixed now and new images for 4.0, 5.0 beta and master are available. I think this time it should be working...

Thanks for the feedback

[2018-06-04 08:49] mroethke commented on #161
I can confirm that the build for rpm based distros are working now.

[2018-06-04 08:49] #161 closed

[2018-08-10 23:12] waehlisch opened #167 "Manpages for tools"

[2018-08-10 23:15] waehlisch opened #168 "Improve doxygen generation"
Generate Doxyfile using CMake FindDoxygen, see https://cmake.org/cmake/help/v3.12/module/FindDoxygen.html

[2018-08-13 12:19] mroethke commented on #168
The relevant doxygen_add_docs function was added in version 3.9 but we have to support older versions because of frr.
However the relevant issue regarding out of tree build was fixed last December with d715e99a6b4633c0af28d32625197673599a68a8.

[2018-08-14 15:17] #149 closed

[2018-08-20 19:14] waehlisch commented on #168
Fixed in #146.

[2018-08-20 19:14] #168 closed

[2018-08-20 19:16] waehlisch commented on #138
@lukas227 takes this over, see http://bugs.debian.org/728206.

[2018-08-20 19:16] #138 closed

[2018-08-22 15:26] #145 closed

[2018-09-17 13:15] #133 closed

[2018-10-05 09:48] smlng commented on #140
yes, closing now.

[2018-10-05 09:48] #140 closed

[2018-10-12 16:54] mroethke opened #184 "rtrlib does not compile with pre c11 compilers since 0.6.0"
We currently redefine two typedefs which is a feature that was introduces with c11.
The only relevant distribution that I'm aware is affected by this is centos6(and redhat of course).

The headers in question are `rtrlib/spki/hashtable/tommyds-1.8/tommytypes.h`, where the original definition is and `rtrlib/spki/hashtable/hashtable_forward.h` where the forward definition is. It is only needed for `

[2018-10-14 22:43] waehlisch commented on #184
@fho opinions?

[2018-10-16 12:01] smlng commented on #184
Dropping CentOS7 (and then RH7, too) is not a good option, because there is no CentOS/RH8 (yet), so we would (as already stated) no longer support a major long-term stable distro.

[2018-10-16 12:56] fho commented on #184
That might be a good option, it could be replaced with smaller less intrusive implementations:

The linked list can be replaced with an implementation similar to the one in the linux kernel:
- https://github.com/torvalds/linux/blob/master/include/linux/list.h
- https://github.com/tgraf/libnl/blob/master/include/netlink/list.h is a userspace variant of it without all the kernel macros

The hash tab

[2018-10-19 09:34] mroethke commented on #184
@smlng
I meant centos 6, fixed in the initial post.

@fho
I'm starting to think that this might actually be the best option at least for the socket group list.
I would not rush to rip tommy* data structures out completely though, because they are not a problem in the spki_table, the only other place where they are used.

[2018-10-19 12:04] waehlisch commented on #184
I think the whole question boils down to: How many RTRlib users do we have that are affected? I suppose they are not many. Any solution of the problem should not affect those users that have a C11 compiler in place.

Re: replacing Tommy lib: This needs very careful consideration and requires definitely performance tests.

[2018-10-19 13:40] mroethke commented on #184
When completely replacing it yes, but the performance of the the data structure for socket groups is not directly relevant for the performance of rtrlib as a whole because changes and even lookups are very rare. The validation codepath does not touch the list at all.
Furthermore the list is likely to be small and can never have more that 256 entries.

But if you are concerned with making big chang

[2018-10-23 15:49] mroethke commented on #184
I took a quick look at netlink list, it is licensed under the LGPL which might be a problem.

[2018-10-24 08:21] mroethke commented on #184
But there is also [uthash](https://github.com/troydhanson/uthash) which also contains several (single, double, circular double) linked list implementations. Riot uses this implementation.

[2018-10-25 07:59] waehlisch opened #190 "Missing exposure of structs and functions"
The RPKI integratoin into BGPstream (see also https://github.com/CAIDA/libbgpstream/pull/58) requires exposure of:

*  struct pfx_table
*  pfx_table_init()
*  pfx_table_add()
*  pfx_table_free()
*  pfx_table_src_remove()

cc @salsh

[2018-10-25 10:41] salsh commented on #190
Thanks for opening the issue.

[2018-10-25 21:40] salsh commented on #190
The ROAFetchlib validates historical BGP dumps with historical ROA dumps. For the validation process multiple prefix tables are initialized, the entries of the ROA dumps are added as records, the actual validation process of the BGP entries with the prefix tables takes place and and finally, the prefix tables are removed and freed.

[2018-10-26 09:37] waehlisch commented on #190
@mroethke indeed it depends on the use case ;). RTRlib basically provides two functions: (1) data structure and ROV algorithm, (2) RTR protocol. There may be good reasons why people use RTRlib just because of (1), see comment by @salsh. I think we should expose the mentioned functions.

[2018-10-26 09:44] waehlisch opened #193 "Extend Release Testing"
The RTRlib is used by multiple third-party apps such as FRR, BGPStream, Python Bindings. To guarantee that these tools run with new versions of RTRlib, we should extend our Release Testing such that at least a warning is fired when changes in the RTRlib code base lead to conflicts with these existing third-party implementations.

[2018-10-26 16:51] mroethke commented on #190
alright.

[2018-11-02 13:51] #190 closed

[2018-12-01 12:55] nbars opened #202 "Uninitialized use of stack variables in rtr_sync_receive_and_store_pdus"
The variables `pfx_shadow_table` and `spki_shadow_table` in `packets.c:rtr_sync_receive_and_store_pdus` are used uninitilized under certain circumstances.

If `rtr_receive_pdu` returns an error code, the execution flow is redirected to the `cleanup`
label. If `->is_resetting` is now true (e.g., because it was set by a `CACHE_RESPONSE` PDU processed by `rtr_handle_cache_response_pdu`), `pfx_table_f

[2018-12-01 13:23] nbars opened #203 "Consider updating tommyds to the latest version"

[2018-12-07 14:50] nbars opened #205 "Run CI builds with -Werror"

[2018-12-07 15:41] mroethke commented on #205
I'm not an overly big fan of -Werror, at least not the wildcard version, because its results are very specific to a compiler version.
Using either a newer or older version can lead to vastly different results.

And we have to clean up debug flags before we can enable this, there is a lot in there we obviously do not care about.

[2018-12-07 16:01] nbars commented on #205
I agree that we should enable `-Werror` only for specific warnings.

[2018-12-10 21:47] waehlisch opened #208 "warning: implicit declaration of function 'pfx_table_notify_diff'"
[code]

[2018-12-11 15:55] mroethke commented on #205
Right of off the top of my head two warnings that should be errors come to mind:

- incompatible-pointer-types
- implicit-function-declaration

Any further suggestions?

[2018-12-12 09:00] #208 closed

[2018-12-13 13:45] smlng commented on #203
I think we were also considering replacing `tommy` instead

[2018-12-14 09:00] #202 closed

[2019-02-05 10:11] mroethke opened #211 "SSH support broken"
SSH support is broken since fa601d1a175700d3f4c1c9b0782f07e0822f256a.
Unless a bind address is specified private key and host key will not be saved in the configuration.

[2019-02-05 10:15] mroethke opened #212 "SSH transport does not honor sync timeout"
rtrlib implements the sync timeout by blocking on receive for the remainder of the timeout. The SSH transport does not implement this at all. It returns immediately causing rtrlib to send a serial query way to often (about once per second).

[2019-02-06 11:06] #211 closed

[2019-02-20 09:12] waehlisch opened #219 "Extended rtrlclient to create multiple outputs"
### Description
#### Background
Multiple implementations of RPKI origin validation (e.g., OpenBGPD) don't use RPKI RTR to maintain valid ROA data but import data from external files. Therefore, some RPKI validators provide a corresponding output which is then fed to the BGP router on a regular basis.

Such validator-centric approach is not good operational practice as it binds ROA output to a sing

[2019-02-20 14:17] mroethke commented on #219
This seems out of scope for rtrclient, because what you want is to dump the state of the pfx table after the first sync. rtrclient just dumps the diff it applies to the table, that would not make much sense for the proposed use case especially when used with multiple caches.
This should be its own tool.

I would furthermore like to avoid implementing our own templating engine, there are more than

[2019-02-20 21:46] waehlisch commented on #219
I don't see that this is out of scope for the rtrclient. The rtrclient prints all received ROAs, the user can terminate the connection whenever he wants. It is not conflicting to have an extension that quits after the first sync was finished, in addition to the current live mode.

The question whether the rtrclient supports multiple caches or not is independent of the function above. Even in the c

[2019-02-26 09:23] mroethke commented on #219
On 2019-02-20 13:46:29, Matthias Wählisch wrote:

As I said, the use case is slightly different (dumping updates vs dumping
the populated pfx table), as long as only one cache is used that is
indeed not relevant but using multiple caches should not be an
afterthought here.

I disagree, because when using multiple caches the output would contain
duplicates.

The lib I mentioned is fairly small (400

[2019-03-11 15:46] #205 closed

[2019-03-13 14:52] mroethke opened #226 "Apply coding style throughout the project"
Currently the coding style is not applied to all files, especially `rtr.c` and `packets.c` do not conform at all.

We should apply the coding style to the entire project with something like clang-format and enforce it in travis for all files after that, possibly providing a pre commit hook for convenience.

[2019-03-23 10:33] mroethke opened #227 "IPv6 and ipv4 parser behave different"
### Description
Ipv4 addresses may be trailed by random characters(e.g. prefix length) and the parser will happily ignore it, the IPv6 address parser does not allow that.

### Steps to reproduce the issue
Try to parse `192.168.0.0/24` and `fc00::/56` with `lrtr_ip_str_to_addr`.

### Expected results
Both should behave the same, ideally returning an error.

### Actual results
The v4 address is pars

[2019-03-25 09:07] smlng commented on #203
fixed by #218

[2019-03-25 09:07] #203 closed

[2019-04-25 09:01] mroethke opened #231 "Support RTR over TLS"
### Description
RTR over TLS is supported by at least one rtr server, namely gortr.
TLS transport is also specified by the RFC as an optional secure transport.
### Useful links
- [gortr](https://github.com/cloudflare/gortr)
- [RFC8210 Section 9.2 TLS Transport](https://tools.ietf.org/html/rfc8210#section-9.2)

[2019-05-07 07:23] smlng opened #232 "Prepare Release 0.70"
We will make a new release before merging BGPsec support in to the rtrlib.

[2019-05-16 01:48] pcarana opened #234 "Error Diagnostic Message expected to end with NUL char"
### Description
The _Arbitrary Text of Error Diagnostic Message_ within an Error Report PDU is expected to end with a NUL character.

### Steps to reproduce the issue

The RTRlib version and configuration utilized is [rtrclient tool](https://github.com/rtrlib/rtrlib/wiki/Usage-of-the-RTRlib#connect-to-an-rtr-server). The cache server its still under development.

To reproduce the error, the cache

[2019-05-16 15:43] mroethke commented on #234
I think you are right.
Thank you.

[2019-05-16 16:20] mroethke commented on #234
@pcarana can you test with #235 applied? (I know that tests are failing right now, please try anyway)

[2019-05-16 16:55] pcarana commented on #234
Thanks for the quick reply! I've downloaded and tested the update, now it seems fine.

The error message length and content are now valid at the client.

[2019-05-21 09:54] #234 closed

[2019-06-12 15:54] mroethke opened #244 "openbsd setting SO_RCVTIMEO failed, Numerical argument out of domain"
### Description
Openbsd has a rather low max value for socket receive and send timeouts, much lower than what rtrlib may set after initial sync finished.
The limit seems to be 655 seconds on openbsd 6.

We run into this problem when the refresh interval is larger than 655 Seconds. The RFC recommends 3600.

### Steps to reproduce the issue
1. Compile rtrlib on openbsd in debug mode
2. run live_vali

[2019-07-08 08:23] #219 closed

[2019-07-18 08:26] #232 closed

[2019-09-05 10:11] pguibert6WIND opened #246 "rtr lib support for VRF"
### Description
This use case happens with frrouting, when operating with vrf netns mode.

Today, rpki operates over backbones,
and for most of frr configuration, creating a main core instance is enough
however, there are cases where the user may map the backbone with a bgp vrf instance.
I work specifically with vrf with vrf backend = network namespaces.
so based on this, it should be possible tha

[2019-09-16 12:02] #226 closed

[2019-10-15 11:15] waehlisch opened #250 "Extend SSH transport to allow for password authentication"
### Description of current state
In case of SSH transport, only key-based authentication is allowed.

### Improvement
Allow also for password-based authentication.

### Useful links
Can be tested using https://github.com/cloudflare/gortr.

[2019-10-15 11:50] pguibert6WIND opened #251 "EVPN proxy ARP"
### Description
Draft [0] proposes a way to address ARP/NDP messages reduction by using proxy ARP.
Neigh_suppress can already be used to reduce arp messages transiting through the vxlan bridge port.
The feature here should address some complements:
a- handle ARP/NDP requests ( and reply if possible/needed)
b- send gratuitous ARPs/NDiscNotify

First thought would be:
- to implement b) as part of ZE

[2019-10-15 11:50] pguibert6WIND commented on #251
sorry, I used the wrong project.
closing the issue

[2019-10-15 11:50] #251 closed

[2020-03-03 16:52] pguibert6WIND opened #254 "RTRlib/ some delay when stopping a RPKI connection with FRR"
### Description
When using with FRR, BGP RPKI sometimes freezes with SSH configuration

### reproduction
I did it with [0]
with a RPKI configuration that we delete, and we recreate a new one. we can observe a 12 second delay between the calls to pthread_cancel() and pthread_join()
I do it with a ssh config, but I dont need any remote ssh server to do  that.

[0] https://github.com/FRRouting/frr/pu

[2020-03-12 21:15] mroethke commented on #254
Cancelability is disabled because a thread must not be canceled while holding resources that are only locally reachable. I'll check if it can be enabled for the `tr_open` call.

[2020-03-13 07:49] pguibert6WIND commented on #254
a test has been done to remove the call to `pthread_setcancelstate(PTHREAD_CANCEL_DISABLE`, and it solved the timeout issue.
no other tests have been done for that. may I trigger a pull request?

[2020-03-14 14:59] mroethke commented on #254
No, that just leads to resource leaks.

[2020-03-14 16:57] mroethke commented on #254
I don't think it can be made safe to enable cancelability for the connect calls. The tcp and ssh connect functions definitely hold local resources, while this could be fixed for tcp it cant be fixed for ssh because that is internal to libssh.
I will see if we can fix this in some other way.

[2020-03-18 15:59] mroethke commented on #254
This is btw not limited to ssh, it also happens with tcp. I guess this is a side effect of switching from `pthread_kill` to `pthread_cancel`.

We could reduce the timeout, but that would not really fix the problem. We could also reintroduce a `pthread_kill` call, but we would also have to install a signal handler again. Which I would like to avoid, because a library should not modify process wide

[2020-04-07 11:40] waehlisch commented on #254
How should we proceed @mroethke ? I'm not sure if I understand the problem completely.

[2020-04-07 13:49] mroethke commented on #254
The problem is that some calls in the transport implementation are blocking. We handle most of them by setting cancelstate to ENABLE. But we can't do that for `tr_open` because it would cause memory leaks that we cannot fix. At least not for the ssh transport as they would occur in libssh.

We might be able to fix this by using non-blocking calls. But libssh does not support non-blocking calls for

[2020-10-12 17:53] #254 closed

[2021-03-18 15:33] pguibert6WIND commented on #246
Hello everyone,
now that https://github.com/rtrlib/rtrlib/pull/252 has been pushed in, is there some process now to officialise delivery of rtr lib to distros ?

[2021-03-24 09:34] mroethke commented on #246
I will start preparing a release as soon as #260  and #256 are reviewed and merged. When the new version is released we can ping the packagers.

[2021-09-06 10:12] #212 closed

[2021-09-06 10:12] #250 closed

[2021-09-10 09:21] mroethke commented on #246
I just pushed a release containing #252

[2021-09-10 09:21] #246 closed

[2021-09-10 09:35] pguibert6WIND commented on #246
thanks a lot !

[2021-10-16 16:42] colinbs opened #263 "travis.sh fails on check-exports.sh"
### Description
Running the `travis.sh` script fails on `check-exports.sh` due to various `__gcov` and the `mangle_path` functions which are found in public headers.

### Steps to reproduce the issue
[code]

### Expected results
`The command "scripts/check-exports.sh" exited with 0.`

### Actual results
[code]

### Solution
Adding the functions in question to the ignorelist of `check-exports.sh` s

[2021-12-02 16:31] Jaykov-s opened #267 "Group Shutdown"
Hi, while using the example I notice that when the most preferable group had a connection error,
and the second group start and connect, when the most preferable group connection restored the second group
is shutdown and cannot start again.

I look on the code and notice that you prevent from the group to run again after shutdown:

void *rtr_fsm_start(struct rtr_socket *rtr_socket)
{
    if (rtr_s

[2021-12-03 14:14] mroethke commented on #267
Thanks for the report. I can confirm this bug.

I will try to have a fix for this in the next week or so.

[2021-12-26 13:00] #267 closed

[2021-12-27 17:22] Jaykov-s opened #269 "Mutex Deadlock Issue"
Hi, I found issues while running session with a multiple groups, when connections is down for the most preferable group,
the second preferable group started and connected. When the most preferable group connection restored, the less preferable
group session is closed and the system continue working with the most preferable group. I found that in some cases,
when the connection is down, and restore

[2022-01-06 14:35] Jaykov-s commented on #269
@mroethke I did some test on the new version, in a while the session crash, I attached the log file of the crash.
Jaykovs.
[rtrlib-crash-2022-01-06.log](https://github.com/rtrlib/rtrlib/files/7822486/rtrlib-crash-2022-01-06.log)

[2022-01-06 17:32] mroethke commented on #269
I don't think this is related to the original issue, please open another one with more details and ideally a reproducer.

[2022-01-09 20:48] Jaykov-s opened #271 "Crash"
Hi, I add the last fix of issue #269 and in a while we got a crashed.
In the LOG file you can see that the cause it assert on the function: tcp_transport.c:99: tr_tcp_open

I attach my source code, the modified files and the crash log.

Jaykovs.

[rtrlib-crash-2022-01-09.log](https://github.com/rtrlib/rtrlib/files/7835891/rtrlib-crash-2022-01-09.log)
[rtr_static.c.txt](https://github.com/rtrlib/rt

[2022-01-16 16:33] Jaykov-s commented on #269
Hi, I investigate the assert issue that appear after the last mutex deadlock fix and found why we got the assert on the socket connection. I attach the sources, session log file, session xml log file and log with my comments.

I recreate again session with the follow 8 groups:
1. existing local server address: 10.1.68.191, port: 8282, preference: 1
2. existing local server address: 10.1.68.134, po

[2022-01-16 16:34] Jaykov-s commented on #271
Hi, I investigate the assert issue that appear after the last mutex deadlock fix and found why we got the assert on the socket connection. I attach the sources, session log file, session xml log file and log with my comments.

I recreate again session with the follow 8 groups:
1. existing local server address: 10.1.68.191, port: 8282, preference: 1
2. existing local server address: 10.1.68.134, po

[2022-01-20 15:21] mroethke commented on #271
Thanks!

I think this bug was "uncovered" by #268 and is caused a lack of locking, I will look into a fix in the next days.

[2022-01-23 14:59] Jaykov-s commented on #269
@mroethke I combine your code from issue #270 & #271 and now it's seem that the system working without any assert or mutex deadlock. Thank you very much,
Jaykovs

[2022-01-23 14:59] #269 closed

[2022-01-23 14:59] Jaykov-s commented on #271
@mroethke I combine your code from issue #270 & #271 and now it's seem that the system working without any assert or mutex deadlock. Thank you very much,
Jaykovs

[2022-01-23 14:59] #271 closed

[2022-04-25 09:29] mwinter-osr opened #274 "Live verification during RPM package and `make check` fails"
### Live verification during RPM package and `make check` fails

The live verification checks during the `make check` and during the RPM package build (in the test phase) are failing as the RPKI server used seems to be longer available (or offline for days/weeks)

[code]

Both Test 5 and Test 8 use `rpki-validator.realmv6.org` as the RPKI server which is offline.

As a result, the RPM package buil

[2022-04-25 16:10] mroethke commented on #274
The server running the rtr server is currently down.
I will see if I can point the domain to another rtr server in the short term.
In the long term we should probably just make it possible to use a local rtr server.

[2022-04-28 09:09] mroethke commented on #274
Should work again now, but there might be some intermittent reachability problems in in the next few days because the server needs to be taken down for maintenance again.

I will close this issue when the problem is fully resolved.

[2022-05-02 07:22] ton31337 opened #275 "Crash in rtr_mgr_conf_in_sync()"
### Description
[code]

Using this library with FRR (master branch). Replicate:

[code]

### Expected results
Should not crash.

[2022-05-02 18:44] #274 closed

[2022-05-02 19:27] mroethke commented on #275
I have so far been unable to reproduce this.
Which rtrlib version are you using and can you provide a backtrace with full debugging info for rtrlib?

[2022-05-03 14:11] #275 closed